name: General

on:
  push:
    branches: master
  pull_request:

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
    - name: Check out Code
      uses: actions/checkout@v4
    - name: Editor Config
      uses: snow-actions/eclint@v1.0.1
    - name: Check for diff
      run: make git.diff
